*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  line-height: calc(1em + 0.5rem);
}

body {
  padding: 1rem;
}

h1 {
  text-align: center;
}

.card {
  & img {
    height: 250px;
  }
}