*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  line-height: calc(1em + 0.5rem);
}

body {
  background-color: #e0dedb;
  padding: 2rem;
}

h1 {
  text-align: center;
  margin: 2rem 0;
}

#book-shelf {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  align-items: center;
  gap: 20px;
}

.card {
  background-color: #c6c1bb;
  border-radius: 4px;
  padding: .5rem;
  display: flex;
  gap: 20px;

  & img {
    height: 250px;
    border-radius: 4px;
  }
}

#add-book-dialog {
  padding: 12px;
  border: none;
  border-radius: 12px;
  /* width: clamp(300px, 40vw, 600px); */

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn {
  padding: .5rem;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  background-color: #121212;
  color: #e8e6e3;

  &:hover {
    cursor: pointer;
    background-color: #137498;
  }

  &:active {
    background-color: #808080;
  }
}

.remove-book-btn,
.clr-btn {
  background-color: #c53a3d;
}

.cnfm-btn {
  background-color: #279581;
}

.cncl-btn {
  background-color: #313537;
}